@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.main-container{
   background-color: #242529;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.same{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: white;
  height: 350px;
  border-radius: 10px;
  margin-left: 20px;
  flex-wrap: wrap;
}
.first-container h2{
  text-align: center;
  margin:35px 0px;
  color: rgb(45, 193, 230);
}
.input{
  width: 90%;
  padding: 15px;
  border-radius:10px ;
  border: 1px solid gray;
}
.first-container button{
  width: 35%;
  padding: 15px;
  background-color: #1e90ff;
  border: none;
  border-radius: 10px;
  color: #efefef;
  cursor: pointer;
}
.second-container h3{
 color:black;
 font-size:25px;
 padding:25px;
}

.error{
  color: red;
  margin-top: -15px;
  font-size: small;
  margin-left: 5px;
  margin-bottom: 15px;
  
}


@media(max-width:768px){
     .main-container{
      display: flex;
      flex-direction: column;
      height: auto;
     }
     .same{
      margin-top: 25px;
      width:90%;
      height: 400px;
      margin-bottom :25px;
      margin-left: 0px;
     }
     .first-container button{
      margin-bottom: 10px;
    }
}